body {
  background-image: url('../pics/bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  font-weight: normal;
  height: 100vh;
}
nav {
  margin-bottom: 80px;
}

.album-item {
  opacity: 1.0;
}
.album-item:hover {
  opacity: 0.9;
}